
<div class="name-it container">
  <form id="name" action="/name" method="post">
    <label for="name">Name your Tama!</label>
    <input class="form-control" type="text" name="name">
    <br>
    <button class="btn btn-success">Name your Tamagotchi</button>
  </form>
</div>
